body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  font-family: sans-serif;
  margin: 0;
}

main {
  padding: 2rem;
  height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  box-sizing: border-box;
}

.calculator-container {
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calculator-container h2 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.calculator-container p {
  margin: 16px 0;
}

.calculator-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.calculator-container input,
.calculator-container label {
  display: block;
  margin: 10px 0;
}

.calculator-container input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.5rem;
}

.calculator-container button {
  width: 100%;
  margin: 10px 0;
  height: 41px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s;
}

.calculator-container button:hover {
  background-color: #327234;
}

.result p {
  margin: 0;
}

.result span {
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 1300px) {
  main {
    flex-wrap: wrap;
    height: auto;
  }
  .calculator-container {
    max-width: 400px;
  }
}
